# Environment
.env

# Dependencies
node_modules/

# Contracts
contracts/cache/
contracts/out/
contracts/broadcast/*/31337/
contracts/broadcast/**/dry-run/

# Frontend
.svelte-kit/
frontend/build/
frontend/src/lib/contracts/
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# Indexer
indexer/bin/
indexer/indexer

# Local
tmp/
